.footer {
  background-color: $grey-bg;
  padding: 30px 0px;
  &_wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    &_map {
      grid-row-start: 1;
      grid-row-end: 2;
      display: flex;
      gap: 10px;
      align-items: center;
    }
    &_tel {
      grid-row-start: 2;
      grid-row-end: 3;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &_cop {
      grid-row-start: 1;
      grid-row-end: 2;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
