.header {
  padding-top: 50px;
  &_wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    &_logo {
      grid-row-start: 1;
      grid-row-end: 3;
      display: flex;
      gap: 4px;
    }
    &_contacts {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 6px;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    &_nav {
      grid-row-start: 2;
      grid-row-end: 3;
      display: flex;
      justify-content: flex-end;
      gap: 15px;
      margin-top: 16px;
      font-family: Montserrat-Bold;
    }
  }
}
.logo_box > img {
  display: block;
}
.logo {
  width: 130px;
  height: 46.499px;
  margin-bottom: 6.5px;
}
.header_slash {
  width: 21px;
  height: 47px;
}
.page_name {
  display: block;
  font-size: 30px;
  color: $main-color;
  font-family: Montserrat-Regular;
  cursor: pointer;
  height: max-content;
  line-height: 48px;
}
.header_str {
  color: $grey-text;
}
.nav_item {
  position: relative;
  font-family: Montserrat-Bold;
  transition: all 0.35s ease;
}
.nav_item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: $accent;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.nav_item:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.header_tel {
  font-family: Montserrat-Bold;
  color: $grey-text;
}
.facebook_header {
  display: block;
}
.facebook_header:hover path {
  fill: $accent;
}
.header_lang {
  gap: 14px;
  position: relative;
  align-items: center;
}
.header_lang input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
  transform: translateX(27px);
}
.lang_switcher_item {
  display: inline-block;
  padding: 10px;
  text-align: center;
  line-height: 2px;
  color: $grey-text;
  cursor: pointer;
}
.header_lang input[type="radio"]:checked + .lang_switcher_item {
  background-color: $grey-bg-alt;
  color: $grey-text;
  border-radius: 8px;
}
.header_lang input[type="radio"]:hover + .lang_switcher_item {
  background-color: $accent;
  border-radius: 8px;
  color: #fff;
}
.hamburger {
  display: none;
}
