.localization {
  background-color: #ff9c7d;
  margin-top: 160px;
  padding: 120px 0px 160px 0px;
  &_title {
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 790px;
  }
  &_descr {
    display: block;
    margin: 0 auto;
    max-width: 540px;
    text-align: center;
    margin-top: 29px;
  }
}
.localization .btn {
  display: block;
  margin: 0 auto;
  margin-top: 54px;
  width: 160px;
  height: 60px;
  color: #fff;
  background-color: #000;
  line-height: 60px;
}
