@media (max-width: 1440px) {
  .container {
    max-width: 1320px;
  }
  .team_title {
    max-width: 1080px;
  }
  .team_card {
    max-width: 400px;
  }
}
@media (max-width: 1320px) {
  .container {
    max-width: 1200px;
  }
  .team_title {
    max-width: 664px;
  }
  .team_card {
    max-width: 400px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 904px;
  }
  .team_title {
    max-width: 664px;
  }
  .team_card {
    max-width: 261px;
  }
  .header_wrapper {
    grid-template-columns: 1fr 2fr;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 648px;
  }
  .team_title {
    max-width: 648px;
  }
  .team_card {
    max-width: 294px;
  }
  .header_wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
  }
  .header_wrapper_contacts {
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: flex-start;
  }
  .header_wrapper_logo {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .header_wrapper_nav {
    grid-row-start: 3;
    grid-row-end: 4;
    justify-content: flex-start;
  }
  .footer_wrapper {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 21px;
  }
  .footer_wrapper_cop {
    grid-row-start: 3;
    grid-row-end: 4;
    justify-content: flex-start;
  }
}
@media (max-width: 375px) {
  .dot {
    display: none;
  }
  .header {
    padding-top: 0px;
  }
  .header_wrapper {
    gap: 0px;
  }
  .header_wrapper_logo {
    max-height: 32px;
    gap: 0px;
  }

  .logo {
    max-height: 32px;
    margin-bottom: 3.4px;
  }
  .company_name {
    max-height: 4px;
    margin: 0 auto;
  }
  .header_slash {
    max-height: 26px;
  }
  .page_name {
    font-size: 20px;
    line-height: 20px;
  }
  .container {
    max-width: 345px;
  }
  .team_title {
    max-width: 315px;
    font-size: 30px;
  }
  .team_card {
    max-width: 315px;
  }
  .header_wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
  }
  .header_wrapper_nav {
    display: none;
  }
  .header_wrapper_contacts {
    justify-content: space-between;
  }
  .facebook_header {
    display: none;
  }
  .header_str {
    display: none;
  }
}
