@media (max-width: 1600px) {
  .container {
    max-width: 1320px;
  }
  .team_title {
    max-width: 1080px;
  }
  .team_card {
    max-width: 400px;
  }
}
@media (max-width: 1320px) {
  .container {
    max-width: 904px;
  }
  .team_title {
    max-width: 664px;
  }
  .team_card {
    max-width: 400px;
  }
}
