.nav {
  border-bottom: 1px solid #ccc;
}
.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 51px;
}
.nav_menu {
  display: flex;
  align-items: center;
}
.nav_logo {
  width: 130px;
  height: 28px;
}
.nav_menu_item {
  margin-left: 51px;
  transition: 0.2s all;
}
.nav_menu_item:hover {
  border-bottom: 1px solid #ff6336;
}
.nav_login {
  display: flex;
  gap: 10px;
}
