:root {
  --basic-color: #34547a;
  --backgorund-color: #eeeff1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Roboro-regular, sans-serif;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
/* ---------------------------------Navigation------------------------------- */
.nav {
  background-color: var(--backgorund-color);
}
.navigation {
  padding-top: 80px;
}
.navigation .navigation-link {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  margin-right: 42px;
  font-size: 16px;
  transition: 0.25s;
}
.navigation .navigation-link:hover {
  color: var(--basic-color);
}
/* ---------------------------Main title------------------------------------ */
.main {
  background-color: var(--backgorund-color);
}
.main-title {
  font-family: Roboto-medium;
  padding-top: 151px;
  font-size: 48px;
}
.main-descr {
  max-width: 540px;
  padding-top: 60px;
  color: #727272;
  line-height: 164%;
}
.button {
  padding: 65px 0 140px 0;
}
.main-button {
  display: block;
  width: 225px;
  height: 65px;
  background-color: var(--basic-color);
  text-decoration: none;
  text-align: center;
  color: #eeeff1;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 60px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.25s linear;
}

.main-button:hover {
  background-color: var(--backgorund-color);
  color: var(--basic-color);
}
/* --------------------- About section ----------------------- */
.page-subheader {
  font-family: Roboto-medium;
  padding-top: 112px;
  font-size: 32px;
  text-align: center;
}
.page-subdescr {
  display: block;
  margin: 0 auto;
  max-width: 540px;
  text-align: center;
  padding: 50px 0 100px 0;
  font-size: 16px;
  color: #727272;
  line-height: 164%;
}
/* -------------------------Numbers -------------------------- */
.numbers {
  background-color: var(--basic-color);
}
.numbers-wrapper {
  padding: 100px 0 100px 0;
}
.numbers-item {
  display: inline-block;
  padding-left: 49px;
}
.numbers-item-text {
  float: right;
  padding-left: 20px;
  padding-top: 3px;
}
.numbers-item-title {
  font-family: Roboto-medium;
  font-size: 21px;
  color: var(--backgorund-color);
}
.numbers-item-descr {
  font-size: 16px;
  color: var(--backgorund-color);
}
/* ------------------------video--------------------------- */
.video .page-subdescr {
  padding-bottom: 0;
}
.video iframe {
  padding: 57px 0 100px 0;
}
/* ------------------------footer------------------------- */
.footer {
  background-color: var(--basic-color);
}
.autor-name {
  font-family: Roboto-medium;
  padding-top: 50px;
  color: var(--backgorund-color);
  font-size: 21px;
}
.copyright {
  padding: 20px 0 50px 0;
  color: var(--backgorund-color);
  font-size: 13px;
}
