@font-face {
  font-family: Montserrat-regular;
  src: url(Montserrat-Regular.woff);
}

@font-face {
  font-family: Roboto-regular;
  src: url(Roboto-Regular.woff);
}

@font-face {
  font-family: Vetrino-regular;
  src: url(vetrino.woff);
}
