@font-face {
  font-family: Montserrat-Bold;
  src: url(Montserrat-Bold.woff);
  src: url(Montserrat-Bold.woff2);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(Montserrat-Regular.woff);
  src: url(Montserrat-Regular.woff2);
}
