@font-face {
  font-family: GraphikLCG-regular;
  src: url(/fonts/GraphikLCG-Regular.woff);
  src: url(/fonts/GraphikLCG-Regular.woff2);
}

@font-face {
  font-family: GraphikLCG-semibold;
  src: url(/fonts/GraphikLCG-Semibold.woff);
  src: url(/fonts/GraphikLCG-Semibold.woff2);
}
