@font-face {
  font-family: GraphikLCG-regular;
  src: url(GraphikLCG-Regular);
  src: url(GraphikLCG-Regular.woff2);
}

@font-face {
  font-family: GraphikLCG-semibold;
  src: url(GraphikLCG-Semibold.woff);
  src: url(GraphikLCG-Semibold.woff2);
}
