@font-face {
  font-family: Bitter-regular;
  src: url(/fonts/Bitter-Regular.woff);
}
@font-face {
  font-family: Relaway-regular;
  src: url(/fonts/Raleway-Regular.woff);
}
@font-face {
  font-family: Relaway-bold;
  src: url(/fonts/Raleway-Bold.woff);
}
